body{
	background-color: #777777;
}

#stage{
	background-color: black;
	position:absolute;
	top:50%;
	left:50%;
	height: 600px;
	width: 800px;
	margin: -300px 0 0 -400px;
	overflow: hidden;
	background-color: #ffffff;
	font: bold 70pt/70pt Arial
}

#canvas-wrapper{
	background-color: black;
	
}


